@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{

}

<div class="container-xxl">
    <center><h1>Sample Crud</h1></center>
    <button type="button" class="btn btn-primary float-lg-end" data-bs-toggle="modal" data-bs-target="#viewModal">
        Add new
    </button>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Date Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            @foreach (Practice practice in ViewBag.practices)
            {
                <tr>
                    <td id="practice_id"> @practice.ID</td>
                    <td> @practice.Firstname</td>
                    <td> @practice.Lastname</td>
                    <td> @practice.Email</td>

                    <td> @practice.DateToday</td> @*Date Created*@
                    <td>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal-@practice.ID">View</button>
                        <a class="btn btn-danger" asp-action="Delete" asp-controller="Sample" asp-route-id="@practice.ID">Delete</a>
                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>

@Html.Partial("_editPracticeModalPartial")
@*
<div class="container-xxl">
    <table class="table">
        <thead>
            <tr>
                <th>Sample Array of String</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.str_output)
            {
              <tr>
                  <td> @item</td>
              </tr>
            }

        </tbody>
    </table>
</div>
*@
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade blur" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Create" asp-controller="Sample" method="post">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Sample </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                    <div class="form-group">
                        <label for="exampleInputEmail1">Firstname</label>
                        <input type="text" name="firstname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Firstname">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Last name</label>
                        <input type="text" name="lastname" class="form-control" id="exampleInputPassword1" placeholder="Enter Last Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Email</label>
                        <input type="email" name="email" class="form-control" id="exampleInputPassword1" placeholder="Enter Email">
                    </div>

                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div id="modal_edit">

</div>

<script type="text/javascript">
    $(document).ready(function(){
        console.log('ready') 
    });
    function select(id) {
        var url = `@Url.Action("Edit","Sample")/${id}`;
        fetchData(url)

    }


    async function fetchData(url){
        var response = await fetch(url)
        .then(res =>res.json())
        .then(data => showModal(data))

        showModal()
    }

    function showModal(data)
    {
        $("#modal_edit").html(`
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                        <form asp-action="Edit" asp-controller="Sample" asp-route-id="${data.id}" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Firstname</label>
                                <input type="text" name="firstname" class="form-control" value="${data.firstname}" placeholder="Enter Firstname">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Last name</label>
                                <input type="text" name="lastname" class="form-control" value="${data.lastname}" placeholder="Enter Last Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Email</label>
                                <input type="email" name="email" class="form-control" value="${data.email}" placeholder="Enter Email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Date Created</label>
                                <input type="text" class="form-control" value="${data.dateToday}" placeholder="Enter Email" disabled>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-primary">Edit</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        `)

        $("#editModal").modal();
    }
</script>



